<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.mighty.tree.app">
    <application>
        <activity
                android:name="com.null8fuffzehn.app.AndroidApp"
                android:label="NULL 8 FUFFZEHN // BANK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
